.elementor-10 .elementor-element.elementor-element-5ed7e851 > .elementor-container {
    max-width: 1280px;
    min-height: -100px;
}
.elementor-10 .elementor-element.elementor-element-5ed7e851 {
    margin-top: 0px;
    margin-bottom: -130px;/* header */
    padding: 25px 0px 25px 0px;
    z-index: 10;
}
.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-520e1740.elementor-column .elementor-widget-wrap {
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-520e1740.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-520e1740 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #121F3E0F;
    transition: background 0.3s,  border 0.3s,  border-radius 0.3s,  box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-520e1740 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s,  border-radius 0.3s,  opacity 0.3s;
}
.elementor-10 .elementor-element.elementor-element-6326a23e {
    text-align: left;
}
.elementor-10 .elementor-element.elementor-element-6326a23e img {
    width: 100%;
}
.elementor-10 .elementor-element.elementor-element-6326a23e > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF63;
}
.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-29581c48.elementor-column .elementor-widget-wrap {
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-29581c48.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-29581c48 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #121F3E0F;
    transition: background 0.3s,  border 0.3s,  border-radius 0.3s,  box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-29581c48 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s,  border-radius 0.3s,  opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-1367d7dd.elementor-column .elementor-widget-wrap {
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu > ul,  .elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,  .elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu > li > a {
    display: flex;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: center;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 50px;
    background-color: #00091300;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-family: var( --e-global-typography-6aaa7b7-font-family ),  Sans-serif;
    font-size: var( --e-global-typography-6aaa7b7-font-size );
    font-weight: var( --e-global-typography-6aaa7b7-font-weight );
    text-transform: var( --e-global-typography-6aaa7b7-text-transform );
    line-height: var( --e-global-typography-6aaa7b7-line-height );
    letter-spacing: var( --e-global-typography-6aaa7b7-letter-spacing );
    word-spacing: var( --e-global-typography-6aaa7b7-word-spacing );
    padding: 0px 20px 0px 20px;
    color: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a svg {
    fill: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li:hover > a {
    color: var( --e-global-color-a567df4 );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li:hover > a svg {
    fill: var( --e-global-color-a567df4 );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li.current-menu-item > a,  .elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li.current-menu-ancestor > a {
    color: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li.current-menu-item > a svg,  .elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li.current-menu-ancestor > a svg {
    fill: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a i,  .elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a svg {
    border-radius: 10px 10px 10px 10px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-family: var( --e-global-typography-ec93f83-font-family ),  Sans-serif;
    font-size: var( --e-global-typography-ec93f83-font-size );
    font-weight: var( --e-global-typography-ec93f83-font-weight );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
    padding: 10px 20px 10px 20px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li > a {
    color: var( --e-global-color-primary );
    background-color: #02010100;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li > a svg {
    fill: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu > .menu-item > a {
    border-radius: 10px 10px 10px 10px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover > a {
    color: var( --e-global-color-0f01f5c );
    background-color: var( --e-global-color-4a5499b );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover > a svg {
    fill: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item > a {
    color: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item > a svg {
    fill: var( --e-global-color-primary );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #00091300;
    background-image: url("https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-021.png");
    background-position: top left;
    background-size: auto;
    border-radius: 10px 10px 10px 10px;
    min-width: 220px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: #BC939300;
    border-style: solid;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var( --e-global-color-a567df4 );
    border-style: solid;
    border-color: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover {
    background-color: var( --e-global-color-2773e3e );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}
.elementor-10 .elementor-element.elementor-element-824e79e {
    z-index: 11;
}
.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-282e4507.elementor-column .elementor-widget-wrap {
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-282e4507.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-282e4507.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-10 .elementor-element.elementor-element-282e4507 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button {
    text-align: center;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    width: 90%;
    padding: 10px 0px 10px 0px;
    font-family: var( --e-global-typography-ec93f83-font-family ),  Sans-serif;
    font-size: var( --e-global-typography-ec93f83-font-size );
    font-weight: var( --e-global-typography-ec93f83-font-weight );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
    color: var( --e-global-color-accent );
    background-color: var( --e-global-color-0f01f5c );
    background-image: url("https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-06.png");
    background-position: top center;
    background-size: cover;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-b83ef10 );
    border-radius: 15px 15px 15px 15px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    fill: var( --e-global-color-accent );
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover {
    color: var( --e-global-color-0f01f5c );
    background-color: var( --e-global-color-2773e3e );
    background-image: url("https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-06.png");
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover svg {
    fill: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper i,  .elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
    margin-right: 5px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper i,  .elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
    margin-left: 5px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
@media(min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-520e1740 {
    /*width: 17%;*/
    width: 25%;
}
.elementor-10 .elementor-element.elementor-element-29581c48 {
    width: 83%;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd {
   /* width: 81.312%;*/
    width: 100%;
}
.elementor-10 .elementor-element.elementor-element-282e4507 {
    width: 18.688%;
}
}
@media(max-width:1366px) and (min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-1367d7dd {
    width: 85%;
}
.elementor-10 .elementor-element.elementor-element-282e4507 {
    width: 30%;
}
}
@media(max-width:1024px) and (min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-520e1740 {
    width: 60%;
}
.elementor-10 .elementor-element.elementor-element-29581c48 {
    width: 40%;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd {
    width: 30%;
}
.elementor-10 .elementor-element.elementor-element-282e4507 {
    width: 70%;
}
}
@media(max-width:1366px) {
    .elementor-10 .elementor-element.elementor-element-6326a23e img {
    width: 100%;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-size: var( --e-global-typography-6aaa7b7-font-size );
    line-height: var( --e-global-typography-6aaa7b7-line-height );
    letter-spacing: var( --e-global-typography-6aaa7b7-letter-spacing );
    word-spacing: var( --e-global-typography-6aaa7b7-word-spacing );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
}
@media(max-width:1024px) {
    .elementor-10 .elementor-element.elementor-element-5ed7e851 {
    margin-top: 0px;
    margin-bottom: -90px;
    padding: 25px 15px 25px 15px;
}
.elementor-10 .elementor-element.elementor-element-520e1740 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-6326a23e img {
    width: 35%;
}
.elementor-10 .elementor-element.elementor-element-6326a23e > .elementor-widget-container {
    margin: 0px -10px 0px 0px;
    border-width: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-29581c48 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
    background-color: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
    background-color: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    padding: 10px 0px 10px 0px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-size: var( --e-global-typography-6aaa7b7-font-size );
    line-height: var( --e-global-typography-6aaa7b7-line-height );
    letter-spacing: var( --e-global-typography-6aaa7b7-letter-spacing );
    word-spacing: var( --e-global-typography-6aaa7b7-word-spacing );
    padding: 15px 15px 15px 30px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li:hover > a {
    background-image: url("https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-021.png");
    background-position: center center;
    background-size: cover;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    background-size: cover;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    width: 98px;
    border-width: 0px 0px 0px 0px;
    color: var( --e-global-color-accent );
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
    font-size: 34px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
    width: 34px;
    fill: var( --e-global-color-accent );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    width: 45px;
    border-width: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu i {
    font-size: 21px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
    width: 21px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover {
    color: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover svg {
    fill: var( --e-global-color-0f01f5c );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    max-width: 155px;
}
.elementor-10 .elementor-element.elementor-element-282e4507 > .elementor-element-populated {
    padding: 0px 7px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    width: 90%;
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
}
@media(max-width:767px) {
    .elementor-10 .elementor-element.elementor-element-5ed7e851 {
    margin-top: 0px;
    /*margin-bottom: -90px;*/
    padding: 25px 15px 25px 15px;
}
.elementor-10 .elementor-element.elementor-element-520e1740 {
    width: 60%;
}
.elementor-10 .elementor-element.elementor-element-520e1740 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-6326a23e img {
    width: 85%;
}
.elementor-10 .elementor-element.elementor-element-6326a23e > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-29581c48 {
    width: 40%;
}
.elementor-10 .elementor-element.elementor-element-29581c48 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd {
    width: 100%;
}
.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-1367d7dd.elementor-column .elementor-widget-wrap {
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-1367d7dd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 50px;
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu > li > a {
    font-size: var( --e-global-typography-6aaa7b7-font-size );
    line-height: var( --e-global-typography-6aaa7b7-line-height );
    letter-spacing: var( --e-global-typography-6aaa7b7-letter-spacing );
    word-spacing: var( --e-global-typography-6aaa7b7-word-spacing );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
.elementor-10 .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    max-width: 150px;
}
.elementor-10 .elementor-element.elementor-element-282e4507 {
    width: 50%;
}
.elementor-10 .elementor-element.elementor-element-282e4507 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-10 .elementor-element.elementor-element-ba3256a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    width: 45%;
    font-size: var( --e-global-typography-ec93f83-font-size );
    line-height: var( --e-global-typography-ec93f83-line-height );
    letter-spacing: var( --e-global-typography-ec93f83-letter-spacing );
    word-spacing: var( --e-global-typography-ec93f83-word-spacing );
}
}
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu  {
     display:  block;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper  {
     width:  100%;
     max-width:  360px;
     border-radius:  0;
     background-color:  #f7f7f7;
     width:  100%;
     position:  fixed;
     top:  0;
     left:  -110%;
     height:  100%!important;
     box-shadow:  0 10px 30px 0 rgba(255, 165, 0, 0);
     overflow-y:  auto;
     overflow-x:  hidden;
     padding-top:  0;
     padding-left:  0;
     padding-right:  0;
     display:  flex;
     flex-direction:  column-reverse;
     justify-content:  flex-end;
     -moz-transition:  left .6s cubic-bezier(.6, .1, .68, .53),  width .6s;
     -webkit-transition:  left .6s cubic-bezier(.6, .1, .68, .53),  width .6s;
     -o-transition:  left .6s cubic-bezier(.6, .1, .68, .53),  width .6s;
     -ms-transition:  left .6s cubic-bezier(.6, .1, .68, .53),  width .6s;
     transition:  left .6s cubic-bezier(.6, .1, .68, .53),  width .6s;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active  {
     left:  0;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container  {
     overflow-y:  hidden;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel  {
     padding:  10px 0px 10px 0px;
     display:  block;
     position:  relative;
     z-index:  5;
     width:  100%;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title  {
     display:  inline-block;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu  {
     display:  block;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu  {
     display:  block;
     height:  100%;
     overflow-y:  auto;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a i  {
     margin-left:  auto;
     border:  1px solid var(--jkit-border-color);
     border-radius:  3px;
     padding:  4px 15px;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children > a svg  {
     margin-left:  auto;
     border:  1px solid var(--jkit-border-color);
     border-radius:  3px;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu  {
     position:  inherit;
     box-shadow:  none;
     background:  none;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li  {
     display:  block;
     width:  100%;
     position:  inherit;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu  {
     display:  none;
     max-height:  2500px;
     opacity:  0;
     visibility:  hidden;
     transition:  max-height 5s ease-out;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open  {
     display:  block;
     opacity:  1;
     visibility:  visible;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a  {
     display:  block;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i  {
     float:  right;
 }
 }
@media (max-width: 1024px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg  {
     float:  right }
 }@media (min-width: 1025px)  {
    .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container  {
     height:  100%;
 }
 }
@media (max-width: 1024px)  {
    .admin-bar .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper  {
     top:  32px;
 }
 }
@media (max-width: 782px)  {
    .admin-bar .elementor-element.elementor-element-824e79e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper  {
     top:  46px;
 }
 }